// Source: http://paletton.com/#uid=63Q0u0kAtpSeBHGqNxCKbhOXn5A
$color-primary: #0E298C;
$color-primary-light: #2E4AB1;
$color-primary-lighter: #7B8DCE;
$color-primary-dark: #061960;
$color-primary-darker: #00071E;

$color-secondary-1: #330C8D;
$color-secondary-1-light: #562DB3;
$color-secondary-1-lighter: #947ACE;
$color-secondary-1-dark: #210561;
$color-secondary-1-darker: #09001E;

$color-secondary-2: #036880;
$color-secondary-2-light: #1E8AA3;
$color-secondary-2-lighter: #6DB3C4;
$color-secondary-2-dark: #014758;
$color-secondary-2-darker: #00161C;

$color-complementary: #036880;
$color-complementary-light: #FFBE2A;
$color-complementary-lighter: #FFDC8B;
$color-complementary-dark: #8E6300;
$color-complementary-darker: #2D1F00;

$color-red: #FF5555;
$color-red-light: #ff9999;

$color-white: #EEE;
$color-grey-6: #E5E5E5;
$color-grey-5: #CCC;
$color-grey-4: #AAA;
$color-grey-3: #999;
$color-grey-2: #777;
$color-grey-1: #333;
$color-black: #111;