*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem = 10px; 10px/16px=62.5%
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Anke Calligraphic FG";
  src: url("../fonts/anke-webfont.woff") format("woff"), url("../fonts/anke-webfont.woff2") format("woff2");
}